body {
  margin: 0;
  padding: 0;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  color: rgb(50, 42, 51);
}
.app {
  width: 360px;
  height: 360px;
  border-radius: 50px;
  background: radial-gradient(
    circle,
    rgb(236, 236, 236) 0%,
    rgb(255, 255, 255),
    80%
  );
  padding: 60px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
header p {
  color: rgb(133, 133, 133);
}
.logo-container {
  height: 50px;
  position: relative;
  top: 20px;
  right: 10px;
}
.logo-container img {
  height: 100%;
}
h2 {
  font-weight: 400;
  margin-bottom: 0;
}
nav::-webkit-scrollbar {
  display: none;
}
nav {
  display: flex;
  width: 330px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
button.primary {
  border: none;
  background-color: rgb(3, 140, 140);
  padding: 18px;
  color: rgb(255, 255, 255);
  font-size: large;
  border-radius: 15px;
  margin-right: 5px;
  cursor: pointer;
}
button.primary:disabled {
  background-color: rgb(255, 255, 255);
  color: rgb(172, 172, 172);
}
.card {
  height: 100px;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-sizing: border-box;
}
.card h5 {
  font-size: 13px;
}
.card p {
  font-size: 12px;
  margin: 0;
  color: rgb(133, 133, 133);
}
.card .img-container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.card .img-container img {
  width: 150%;
}
.card .text-container {
  width: 180px;
  padding: 0 5px;
}
.cicle {
  background-color: rgb(3, 140, 140);
  height: 30px;
  width: 30px;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed {
  height: 400px;
  overflow-y: scroll;
}
.card .info-container {
  position: relative;
}
.card .info-container a {
  position: absolute;
  top: 65px;
  right: 5px;
  text-decoration: none;
  color: rgb(50, 42, 51);
}
